extends ../layout
block content 
  h3 
    a(href = '/product/create') Create New
  h1 Product List 
  table
    thead 
      tr 
        th Id
        th Name 
        th Price 
        th action
    tbody 
      if products !=''
        each item in products 
          tr 
            td= item._id 
            td= item.name
            td= item.price
            td
              a(href=`/product/update/${item.id}`) Update
      else 
        tr 
          td(colspan='3') No Data   